<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fontawesome</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css" />
  </head>

  <body>
    <div class="desktop wrapper" id="wrapper">
      <div class="virtual-scroll" id="virtual"></div>
      <div class="visual-view compact icon-listing margin-top-lg margin-bottom-4xl" id="icons-results"></div>
    </div>
    <dialog id="dialog" class="layer-anim-00 dialog">
      <div class="dialog-header"></div>
      <div class="dialog-body">1111</div>
      <div class="dialog-footer"></div>
    </dialog>
  </body>
</html>
